<div class="container-fluid">
  <h1 class="text-white text-center">
    Benvenuto {{ userName }}!
    <i class="bi bi-rocket-takeoff-fill text-danger"></i>
  </h1>
  <div class="row g-3">
    <div *ngFor="let item of movies" class="col-3 mt-4">
      <div class="card bg bg-dark">
        <img
          src="https://image.tmdb.org/t/p/w500/{{ item.poster_path }} "
          class="card-img-top"
        />

        <div class="card-body">
          <div>
            <h5 class="card-title text-truncate text-white">
              {{ item.title }}
            </h5>
          </div>
          <a
            (click)="aggiungiPreferiti(item.id, item.poster_path)"
            class="btn btn-danger text-center"
            >Aggiungi ai preferiti!</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
