<div class="container text-white text-center">
  <h1 class="text-white">login</h1>
  <form (ngSubmit)="onSubmit()">
    <label>
      <input
        type="text"
        [(ngModel)]="email"
        name="email"
        required
        placeholder="Inserisci la tua email"
      />
    </label>
    <br />

    <label>
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        required
        placeholder="Inserisci password"
      />
    </label>
    <br />
    <button btn btn-danger type="submit">LogIn</button>
  </form>
</div>
